<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/sidebar.ejs') %>
        <main><%- body %></main>

    </div>
    <%- include('../partials/chatbox.ejs') %>
    <%- include('../partials/javascript.ejs') %>
    <%- include('../partials/ionicon.ejs') %>
 
</body>
</html>
